body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f6fc;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #ffffff;
  padding: 30px;
  width: 350px;

  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  color: #111;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;

  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;

  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #1e4fd8;
}

#result {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

.error {
  color: #dc2626;
}

.success {
  color: #16a34a;
}
