body {
    background: rgb(0, 233, 233);
    font: normal 15pt Arial;
}

header {
    color: black;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.36);
}

footer {
    color: black;
}